html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #map {
          height: 500px;
          width: 500px;
          margin: 0px;
          padding: 0px;
        }


#div_graphiques{
  width: 100%;
  display: inline-block;
}

#graphique{
  display: inline-block;
}

#legende{
  width: 400px;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
}
h1#title{
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  background-color: CornFlowerBlue;
}

#map{
  margin-top: -40%;
  margin-left: 60%;
}